@page
@using FirstWebApp032022.Data.Models
@model FirstWebApp032022.Pages.Pets.DogListModel
@{
    string myString = @"<script>alert('Hi!')</script>";
}


@*@section FooterExtra {
    <div>This is a page about multiple dogs!</div>
}*@

<h1>
    @if(DateTime.Today.DayOfWeek == DayOfWeek.Wednesday)
    {
        @: Thor's Day!!
    }
    else
    {
        <text>
            @DateTime.Today.DayOfWeek
        </text>
    }
</h1>


<div class="dog-container">
    
    @foreach(Dog dog in Model.Dogs)
    { 
        <partial name="_Dog" model="dog" />
    }    
</div>

